name: Build APK (Docker Mode)
on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      # This step downloads a "Perfect Computer" (Docker) to build your app
      - name: Build with Buildozer Docker
        uses: docker://kivymd/buildozer:latest
        with:
          args: buildozer android debug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Scalculator-APK
          path: bin/*.apk
